.container {
    display: flex;
    max-width: 40rem;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.menuItem {
    max-height: 1rem;
    height: 1rem;
    margin-bottom: 2rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.newArticleButton {
    float: right;
    margin: 1rem;
    position: fixed;
    right: 15rem;
    top: 5rem;
}

.textArea {
    width: 12rem;
    height: 12rem;
}

.submit {
    float: right;
    display: flex;
}

.button {
    float: right;
    margin: 1rem !important;
    max-height: 2rem
}

.dropDown {
    display: inline;
    width: 10rem;
    height: 2rem;
    max-height: 2rem;
}

.title {

}