
.menuItem {
    margin: 5rem !important;
    display: inline-flex;
}

.textArea {
    width: 4rem;
}

.topicContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}

.submit {
    width: 4rem;
    max-width: 4rem;
}

.App {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    flex-direction: column;
}